/* Custom styles for the audio player */
.player-wrapper {
  background-color: transparent !important;
  box-shadow: none !important;
}

.player-wrapper .rhap_progress-section {
  margin: 0 !important;
}

.player-wrapper .rhap_controls-section {
  margin-top: 0 !important;
}

.player-wrapper .rhap_main-controls-button {
  color: white !important;
}

.player-wrapper .rhap_volume-button {
  color: white !important;
}

.player-wrapper .rhap_progress-bar {
  height: 4px !important;
}

.player-wrapper .rhap_progress-filled {
  background-color: #4f46e5 !important;
}

.player-wrapper .rhap_progress-indicator {
  background: #4f46e5 !important;
  box-shadow: none !important;
}

.player-wrapper .rhap_volume-bar {
  background: rgba(255, 255, 255, 0.2) !important;
}

.player-wrapper .rhap_volume-indicator {
  background: #4f46e5 !important;
}